.depcheckrc.json
.eslintrc.json
.gitignore
.next
.swc
__tests__
auth0
components
const.ts
controller
embed
jest.config.ts
jest.setup.ts
next.config.js
node_modules
package.json
package.json_readme.md
pages
postcss.config.js
public
README.md
styles
tailwind.config.js
tsconfig.json
utils
