/* Import the Font Family: Sarabun */
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

/* Import Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bs-primary: #000048;
    --bs-primary-rgb: 0, 0, 72;
    --bs-secondary: #2f78c4;
    --heading-color: var(--bs-secondary);
    --link-color: var(--bs-secondary);
    --link-hover-color: var(--bs-primary);
    --bs-red: #b81f2d;
    --bs-yellow: #e9c71d;
    --bs-green: #2db81f;
    --bs-black: var(--bs-primary);
    --bs-pink: #f221b8;
    --bs-white: #ffffff;
    --bs-dark: var(--bs-primary);
    --bs-gray-lightest: #f5f5f2;
    --bs-gray-lighter: #e8e8e6;
    --bs-gray-light: #d0d0ce;
    --bs-gray-medium: #97999b;
    --bs-gray-dark: #53565a;
    --bs-accent1-light: #85a0f9;
    --bs-accent1-medium: #7373d8;
    --bs-accent1-dark: #2e308e;
    --bs-accent2-light: #92bbe6;
    --bs-accent2-medium: #6aa2dc;
    --bs-accent2-dark: #2f78c4;
    --bs-accent3-light: #97f5f7;
    --bs-accent3-medium: #26efe9;
    --bs-accent3-dark: #06c7cc;
    --bs-success: var(--bs-green);
    --bs-info: var(--bs-accent3-medium);
    --bs-warning: var(--bs-yellow);
    --bs-danger: var(--bs-red);
    --bs-light: var(--bs-white);
    --bs-font-sans-serif: "Gellix", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
    --bs-root-font-size: 1.25rem;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-size-small: 0.75rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.3;
    --bs-body-color: var(--bs-primary);
    --bs-body-bg: var(--bs-white);
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: var(--bs-gray-light);
    --bs-border-color-translucent: rgba(var(--bs-primary), 0.175);
    --bs-border-radius: 0.5rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.75rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: var(--bs-secondary);
    --bs-link-hover-color: var(--bs-primary);
    --bs-code-color: var(--bs-red);
    --bs-highlight-bg: var(--bs-white);
    --bs-button-bg: var(--bs-accent3-medium);
}

/*
-----------------------------------------------------------------------------------

 █████████████ ███    █████████████████
 ██    ██    ██████   ██   ██   ██
 █████ ██    ████ ██  ██   ██   ███████
 ██    ██    ████  ██ ██   ██        ██
 ██     ██████ ██   ████   ██   ███████

-----------------------------------------------------------------------------------
*/

/* --------------- Font Face Rule --------------- */
@font-face {
    font-family: "Gellix";
    src:
        url("/gellix/Gellix-Light.woff2") format("woff2"),
        url("/gellix/Gellix-Light.woff") format("woff"),
        url("/gellix/Gellix-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gellix";
    src:
        url("/gellix/Gellix-LightItalic.woff2") format("woff2"),
        url("/gellix/Gellix-LightItalic.woff") format("woff"),
        url("/gellix/Gellix-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gellix";
    src:
        url("/gellix/Gellix-Regular.woff2") format("woff2"),
        url("/gellix/Gellix-Regular.woff") format("woff"),
        url("/gellix/Gellix-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gellix";
    src:
        url("/gellix/Gellix-RegularItalic.woff2") format("woff2"),
        url("/gellix/Gellix-RegularItalic.woff") format("woff"),
        url("/gellix/Gellix-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gellix";
    src:
        url("/gellix/Gellix-SemiBold.woff2") format("woff2"),
        url("/gellix/Gellix-SemiBold.woff") format("woff"),
        url("/gellix/Gellix-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gellix";
    src:
        url("/gellix/Gellix-SemiBoldItalic.woff2") format("woff2"),
        url("/gellix/Gellix-SemiBoldItalic.woff") format("woff"),
        url("/gellix/Gellix-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* --------------- Font Face Rule End --------------- */

/*
-----------------------------------------------------------------------------------

 ██████████    ████████  ██████  ██████ ██████  █████ ██████ ██   ████    ██
    ██    ██  ██ ██   ████    ████      ██   ████   ████   ████   ██ ██  ██
    ██     ████  ██████ ██    ████   █████████ █████████████ ███████  ████
    ██      ██   ██     ██    ████    ████   ████   ████     ██   ██   ██
    ██      ██   ██      ██████  ██████ ██   ████   ████     ██   ██   ██

-----------------------------------------------------------------------------------
*/

:is(.h1, h1, .display-1, .display-2, .h2, h2, .h3, h3, .h4, h4, .h5, h5) {
    font-feature-settings: "ss00";
}

:is(.h4, h4, .h5, h5, .h6, h6) {
    color: var(--heading-color);
}

h4 {
    font-weight: 300;
}

h5 {
    font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 0;
}

.h1,
h1 {
    font-size: calc(1.545rem + 3.54vw);
}

@media (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 4.2rem;
    }
}

.h2,
h2 {
    font-size: calc(1.44rem + 2.28vw);
}

@media (min-width: 1200px) {
    .h2,
    h2 {
        font-size: 3.15rem;
    }
}

.h3,
h3 {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .h3,
    h3 {
        font-size: 1.5rem;
    }
}

.h4,
h4 {
    font-size: calc(1.305rem + 0.66vw);
}

@media (min-width: 1200px) {
    .h4,
    h4 {
        font-size: 1.8rem;
    }
}

.h5,
h5 {
    font-size: calc(1.26rem + 0.12vw);
}

@media (min-width: 1200px) {
    .h5,
    h5 {
        font-size: 1.35rem;
    }
}

.h6,
h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.small,
small {
    font-size: 0.75rem;
}

a {
    color: var(--bs-link-color);
    font-weight: bold;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
        color: var(--bs-link-hover-color);
    }
}

input {
    font-size: var(--bs-body-font-size);
    font-family: var(--bs-body-font-family);
    cursor: pointer;
}

select {
    font-size: var(--bs-body-font-size);
    display: inline-block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-primary);
    background-color: var(--bs-white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--bs-gray-medium);
    border-radius: 0.375rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    appearance: none;
}

/*
-----------------------------------------------------------------------------------

 █████████████████    ████     ██████████████
 ██        ██    ██  ██ ██     ██     ██
 ███████   ██     ████  ██     █████  ███████
      ██   ██      ██   ██     ██          ██
 ███████   ██      ██   █████████████████████

-----------------------------------------------------------------------------------
*/

html {
    font-family: var(--bs-body-font-family);
    font-size: 125%;
    box-sizing: border-box;
}

body {
    font-family: var(--bs-body-font-family);
    font-size: 1rem;
    font-feature-settings: "ss01";
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    /* word-break: break-word; */
    color: var(--bs-primary);
}

* {
    font-family: "Gellix", sans-serif;
}

.ant-drawer-header {
    background: var(--bs-primary) !important;
}

.ant-drawer-title,
.ant-drawer-close {
    color: var(--bs-white) !important;
}

.ant-drawer-body,
.ant-drawer-body > .container {
    padding: 0 !important;
}

.input-field {
    background-color: var(--bs-gray-lighter);
}

#logo-img {
    width: 200px !important;
}

/* For antd tables */
.ant-table-thead .ant-table-cell {
    background-color: #2f78c4 !important;
    color: white !important;
}

.antd-row-hover:hover {
    cursor: pointer;
}

/* Fix for antd table column sorting icons. There are other rules in this stylesheet that are very general
and apply to all SVGs, so we need to be more specific here.
 */
.ant-table-column-sorter-up.active svg {
    fill: white;
}

.ant-table-column-sorter-up svg {
    fill: gray;
}

.ant-table-column-sorter-down.active svg {
    fill: white;
}

.ant-table-column-sorter-down svg {
    fill: gray;
}

/*
Work-around for antd styling weirdness around Modal confirm buttons. Suddenly with new antd version the "OK" button
in Modals was showing up as white on white, making it impossible to see.

Possibly related to this: https://github.com/ant-design/ant-design/issues/40576

Rather than using the complex wrapping-with-App and configurationProvider solutions suggested there, we override
the style here to get what we want and expect.

See UN-1180
 */
.ant-btn-primary {
    color: var(--bs-white) !important;
    background-color: var(--bs-link-color) !important;
}

.ant-btn-primary:hover {
    color: var(--bs-white) !important;
    background-color: var(--bs-link-hover-color) !important;
}

.ant-drawer-body,
.ant-drawer-body > .container {
    padding: 0;
}
.border-black {
    border-color: var(--bs-gray-light) !important;
}

#flow-buttons button {
    border-radius: 1000px;
    background: var(--bs-secondary) !important;
    border: none;
    font-weight: bold;
}

tr {
    border-color: var(--bs-gray-light) !important;
}

th {
    font-weight: bold !important;
}

thead {
    border: none;
}

thead tr {
    background: var(--bs-gray-lighter);
}

#training-runs-bar button {
    border-radius: 1000px !important;
    background-color: var(--bs-button-bg) !important;
    color: var(--bs-primary) !important;
    border: none !important;
    font-weight: bold !important;
    padding: 0.5rem 2rem !important;
}

.tracking-wider {
    letter-spacing: 0 !important;
}

.uppercase {
    text-transform: none !important;
}

button[id*="run"] {
    color: var(--bs-secondary) !important;
    font-weight: bold !important;
}

h3 svg,
button svg,
span svg {
    color: var(--bs-secondary);
}

/* For antd alerts */
div.ant-alert span svg {
    color: inherit;
}

.bp4-card p {
    color: var(--bs-primary) !important;
}

.bp4-card p:last-of-type {
    margin: 0;
}

.bp4-card span svg {
    color: var(--bs-secondary) !important;
}
.bp4-card button svg {
    bottom: 1rem;
    position: relative;
}

svg.react-flow__background #pattern-react-flow circle {
    fill: var(--bs-gray-light);
}
.react-flow__panel {
    background: white;
}

button[id*="context-button"],
button[id*="actions-button"],
button[id*="action-button"],
button[id*="outcomes-button"] {
    color: var(--bs-secondary);
}

button[id*="settings-button"] > svg > path,
button[id*="config-button"] > svg > path {
    stroke: var(--bs-secondary);
}

button[id*="prescriptoredge"] {
    margin: 0 !important;
}

#project-description {
    font-family: "Gellix", sans-serif;
    white-space: pre-wrap;
}
