/* Import the Font Family: Sarabun */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

/* Import Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    font-family: 'Sarabun', sans-serif;
}

.ant-drawer-header {
    background: #0033a0 !important;
}

.ant-drawer-title, .ant-drawer-close {
    color: #fff !important;
}

.ant-drawer-body, .ant-drawer-body > .container {
    padding: 0 !important;
}

.input-field {
    background-color: #e3e3e5;
}

.rcw-conversation-container .rcw-header {
    background-color: #0033a0 !important;
}

.rcw-launcher {
    background-color: #0033a0 !important;
}

.rcw-title {
    color: white !important;
}

/*
Work-around for antd styling weirdness around Modal confirm buttons. Suddenly with new antd version the "OK" button
in Modals was showing up as white on white, making it impossible to see.

Possibly related to this: https://github.com/ant-design/ant-design/issues/40576

Rather than using the complex wrapping-with-App and configurationProvider solutions suggested there, we override
the style here to get what we want and expect.

See UN-1180
 */
.ant-btn-primary {
    color: white !important;
    background-color: #1677ff !important;
}

.ant-btn-primary:hover {
    color: white !important;
    background-color: #4096ff !important;
}
