/* Imoport Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Font Family: Sarabun */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

/* Import Code Mirror */
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';


* {
    font-family: 'Sarabun', sans-serif;
}

.ant-drawer-header {
    background: #0033a0 !important;
}

.ant-drawer-title, .ant-drawer-close {
    color: #fff !important;
}

.ant-drawer-body, .ant-drawer-body > .container {
    padding: 0 !important;
}

.input-field {
    background-color: #e3e3e5;
}