.opp-finder-agent-div {
    border-radius: 30px;
    transition: all 0.3s ease;
    padding: 10px;
    border: 1px solid #cad1d7;
    min-height: 130px;
    width: 170px;
}

.opp-finder-agent-div.selected {
    background: linear-gradient(to bottom, #cad1d7, #f0f0f0);
    border-color: var(--bs-primary);
}

.opp-finder-agent-div:hover {
    border-color: var(--bs-primary);
}

.agent-icon {
    margin-bottom: 10px;
}
