/* Downloaded from https://github.com/SimonHausdorf/nextjs-breadcrumbs2/ because apparently the author forgot to
include this in the npm package. */

.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 16px Sans-Serif;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 0 10px 50px;
  background: #D0D0CE;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a::after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #D0D0CE;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a::before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 20px;
  pointer-events: visible !important;
  cursor: pointer !important;
}
.breadcrumb li:nth-child(2) a {
  background: #E8E8E6;
}
.breadcrumb li:nth-child(2) a:after {
  border-left-color: #E8E8E6;
}
.breadcrumb li:nth-child(3) a {
  background: #E8E8E6;
}
.breadcrumb li:nth-child(3) a:after {
  border-left-color: #E8E8E6;
}
.breadcrumb li:nth-child(4) a {
  background: #E8E8E6;
}
.breadcrumb li:nth-child(4) a:after {
  border-left-color: #E8E8E6;
}
.breadcrumb li:nth-child(5) a {
  background: #E8E8E6;
}
.breadcrumb li:nth-child(5) a:after {
  border-left-color: #E8E8E6;
}
.breadcrumb li:last-child a {
  background: #E8E8E6 !important;
  color: black;
  pointer-events: none;
  cursor: default;
  padding-right: 20px;
}
.breadcrumb li:last-child a::after {
  border: 0;
}

.breadcrumb li a:hover {
  background: #D0D0CE;
}
.breadcrumb li a:hover:after {
  border-left-color: #D0D0CE !important;
}
