# This pipeline runs the lint and unit tests on the ui code.

name: Tests and linting

permissions:
    contents: read

on:
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        if: github.base_ref == 'main'
        environment: test
        container:
            # Specific version. 22.18+ is bad due to https://github.com/nodejs/node/issues/59364 and breaks tests.
            image: node:22.17.1-alpine

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                  apk add --quiet --no-progress --upgrade bash shellcheck

            # Install yarn version from package.json packageManager field using corepack
            - name: Set yarn version
              run: |
                  corepack enable
                  corepack install 
                  yarn --version

            - name: Install Node.js dependencies
              run: |
                  yarn --version
                  yarn install

            - name: Generate OpenAPI types
              run: |
                  yarn generate

            - name: Run tsc compilation
              run: |
                  yarn tsc --version
                  yarn tsc --noEmit

            - name: Run ESLint
              run: build_scripts/run_eslint.sh

            - name: Run shellcheck
              run: |
                  shellcheck --version
                  build_scripts/run_shellcheck.sh

            - name: Run Prettier
              run: |
                  yarn check-format --version
                  yarn check-format

            - name: Run depcheck
              run: |
                  yarn depcheck --version
                  yarn depcheck

            - name: Run ts-prune
              run: |
                  yarn list --depth=0 --pattern ts-prune
                  yarn ts-prune --error

            - name: Run tests
              run: |
                  yarn unit_test --version
                  yarn unit_test

            - name: Notify Slack on success
              if: success()
              uses: slackapi/slack-github-action@v2.1.1
              with:
                  webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
                  webhook-type: incoming-webhook
                  payload: |
                      {
                          "text": "✅ *Tests Passed* for `${{ github.repository }}` on `${{ github.ref_name }}`"
                      }

            - name: Notify Slack on failure
              if: failure()
              uses: slackapi/slack-github-action@v2.1.1
              with:
                  webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
                  webhook-type: incoming-webhook
                  payload: |
                      {
                          "text": "❌ *Tests Failed* for `${{ github.repository }}` on `${{ github.ref_name }}`"
                      }
